// WorkSans source: https://github.com/weiweihuanghuang/Work-Sans
@at-root {
    @include font-face(
        'WorkSans',
        '../../fonts/worksans-regular',
        400,
        normal,
        woff2 woff ttf eot svg
    );
    @include font-face(
        'WorkSans',
        '../../fonts/worksans-medium',
        500,
        normal,
        woff2 woff ttf eot svg
    );
    @include font-face(
        'WorkSans',
        '../../fonts/worksans-semibold',
        600,
        normal,
        woff2 woff ttf eot svg
    );
}

.text--bold {
    font-weight: 500;
}

.text--primary {
    color: $brand-AAA-color;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &::before {
    float: right;
    }
}
